<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Інформація про ЄФВВ вступ до магістратури дати МКТ 2022</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{% static 'css/canvas.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="back">
        <canvas class="fireworks"></canvas>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4 center" id="nav">
                <a href="/"><h5>БЕЗКОШТОВНІ ТЕСТИ "Право"<br>підготовка
                    до МКТ 2022 </h5></a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 center" id="nav">
                <a href="{% url 'info' %}"><h5>ВАЖЛИВА ІНФОРМАЦІЯ про 
                    <br>вступ до магістратури дати МКТ 2022</h5></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row main-block">
            <div class="col-md-12 center">
                <h1>
                    Вступ до магістратури 2022 
                    <br>081 «Право» та 293 «Міжнародне право»
                </h1>
                
            </div>
            <div class="center marg">
                <button type="button" class="btn btn-outline-light">Клік на удачу</button>
            </div>
            <div class="col-md-12 center marg">
                <h3>
                    Вступні випробування до магістратури (ЄВІ та ЄФВВ) у 2022 році скасовано.
                </h3>
                <h3>
                    Натомість майбутні магістри маю скласти "Магістерський Комплексний Тест (МКТ)"
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    МКТ <b>складається з двох блоків:</b>
                    <br>- блок МКТ-2022 <b>тесту з права та міжнародного права.</b>
                    <br>- блок МКТ-2022 <b>з іноземної мови</b> (англійська, іспанська, німецька,
                    французька).
                    
                </p>
                <p>
                    <b>Загальна кількість завдань – 80</b>.
                    <br>На виконання магістерського комплексного тесту відведено – <b>120 хвилин</b>.
                    <br>В межах відведеного часу <b>є можливість довільно визначати час на
                    виконання завдань та довільно переміщатися між завданнями блоків.</b>
                </p>
                <h5 class="center marg">
                    <b>Дати МКТ</b>
                </h5>
                <p>
                    <b>Зареєструватися для проходження МКТ</b> потенційні магістри зможуть <b>з 27 червня до 18 липня включно</b>, звернувшись до приймальної комісії закладу вищої освіти.
                </p>
                <p>
                    Тестування будуть проведені в основну, додаткову та спеціально організовану сесії.
                    <br>основна – <b>з 10 серпня до 17 серпня</b>;
                    <br>додаткова – <b>з 07 вересня до 10 вересня</b>;
                    <br>спеціально організована – вересень – жовтень (терміни буде визначено пізніше).
                </p>
                <h5 class="center marg">
                    Загальна характеристика блоку МКТ-2022
                    <b>предметного тесту з права та міжнародного права</b>
                </h5>
                <p>
                    <b>Загальна кількість завдань блоку – 50.</b>
                    <br>Зміст визначено Програмою, затвердженою наказом Міністерства освіти і науки
                    України від 03 лютого 2022 року № 107.
                    Тому <b>для підготовки варто використовувати <a href="https://pravo-izdat.com.ua/zno/pravo-ta-tznpk-testovi-zavdannya-u-formati-yefvv.-navchalnij-posibnik">матеріали укладені відповідно до чинної Програми МОН</a></b>.
                </p>
                <p>
                    Відповідно до програми, блок включає завдання на перевірку знань з
                    наступних дисциплін:
                    <br>- Конституційне право України – 6 завдань;
                    <br>- Адміністративне право України. Адміністративне судочинство в Україні – 6 завдань;
                    <br>- Цивільне право України – 7 завдань;
                    <br>- Цивільне процесуальне право України – 6 завдань;
                    <br>- Кримінальне право України – 7 завдань;
                    <br>- Кримінальне процесуальне право України – 6 завдань;
                    <br>- Міжнародне публічне право – 6 завдань;
                    <br>- Міжнародний захист з прав людини – 6 завдань
                </p>
                <p>
                    <b>Блок містить завдання із вибором однієї правильної відповіді</b>, що
                    складається з основи та чотирьох варіантів відповіді з яких лише один
                    правильний.
                    <b>Для якісної підготовки вирішуй <a href="/">1000 БЕЗКОШТОВНИХ тестів з Права у форматі МКТ</a></b>.
                    <br>Максимальна кількість балів, яку можна набрати, правильно виконавши
                    завдання блоку, – 50 балів.
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="center marg">
                <button type="button" class="btn btn-outline-light">Ще клік на удачу</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-10 marg">
                <h5>
                    Більше інформацію щодо вступу на магістратуру у 2022 році ви можете знайти на <a href="https://testportal.gov.ua/vstupni-do-magistratury/" target="_blank">офіційній сторінці УЦОЯО</a>
                </h5>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-4 footer">
                <h3>Готуйся!</h3>
            </div>
            <div class="col-md-4 footer">
                <h3>Складай!</h3>
            </div>
            <div class="col-md-4 footer">
                <h3>Вступай!</h3>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>    
    <script src="{% static 'js/canvas.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>